/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 20rem;
  min-height: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
}

.btn {
	background: #EB0000;
	padding: 18px 28px;
	font-size: 16px;
	color: #fff;
	font-weight: 600;
	letter-spacing: .9px;
	text-decoration: none;
	text-transform: uppercase;
}

header {
  background: url('../img/logo.png') no-repeat bottom;
  background-size: 120px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  height: 60px;
  width: 120px;
  margin: 0 auto 64px;
	padding-top: 128px;
}

article {
  width: 80%;
  margin: 0 auto;
}
article p {
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 16px;
  color: #444;
  font-size: 14px;
}

footer {
	position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;

  background: url('../img/footer-building-2.jpg') no-repeat top center;
  background-size: 280%;
  min-height: 250px;
  margin-top: 80px;
  /* position: relative; */
}
footer small {
  font-size: 8px;
  letter-spacing: .9px;
  color: white;
  text-transform: uppercase;
  bottom: 32px;
  width: 93%;
  text-align: center;
  display: block;
  position: absolute;
  margin: 0 auto;
}
footer .btn {
  bottom: 102px;
  text-align: center;
  display: inline-block;
	position: absolute;
  margin: 0 auto;
	margin-left: -70px;
}




/* Small devices (landscape phones, 576px and up) */
@media (min-width: 375px) {
	footer .btn {
		bottom: 70px;
	}

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	body {
		padding-bottom: 29rem;
	}
  header {
    background-size: 164px;
    height: 82px;
    width: 164px;
    margin: 0 auto 100px;
		padding-top: 200px;
  }
  article {
    width: 488px;
  }
  article p {
    line-height: 33px;
    margin-bottom: 16px;
    font-size: 16px;
  }
  footer {
    background-size: 1740px;
    min-height: 400px;
    margin-top: 160px;
		box-shadow: 0 50vh 0 50vh #444;
  }
  footer small {
    font-size: 10px;
    bottom: 48px;
		width: 96%;
  }
	footer .btn {
		bottom: 100px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	footer {
		background-size: 2000px;
	}
  footer small {
		width: 98%;
  }

}


@media (min-width: 1600px) {
	footer {
		background-size: 100%;
	}
  footer small {
		width: 99%;
  }
}
